div {
    border: solid 0.5px;
    width: 100%;
}

.main-container {
    margin: 0 auto;
    width: 70vw;
    height: 100vh;
    display: flex;
}

.img-container {
    flex: 1;
    position: relative;
}

.logo-container {
    position: absolute;
    top: 20%;
    height: 15%;
}

.text-container {
    flex: 2;
    display: flex;
}

.form-container {
    align-self: center;
    height: 30%;
}