*,
*::before,
*::after{
    box-sizing: border-box;
}

/* Variables */

:root {
    --color-bg-main: hsl(210, 20%, 98%);
    --color-bg-logo: hsla(0, 0%, 0%, 0.603);
    --color-clickable: hsl(92, 20%, 35%);
    --color-form-header: hsl(216, 38%, 13%);
    --color-text-label: hsl(215, 28%, 17%);
    --color-invalid-pass: hsl(0, 74%, 42%);
}

/* General Styles */

body {
    height: 100vh;
    display: flex;
    font-family: Arial, Helvetica, sans-serif;
}

div {
    border: solid 0.5px;
    width: 100%;
}

ul {
    list-style: none;
    padding: 0;
    margin: 0;
}

a {
    text-decoration: none;
}

input,
button {
    font-family: inherit;
    font-size: 100%;
}

label {
    display: block;
}

fieldset {
    border: none;
    padding: 0;
}

/*  Typography */



 /* Blocks */


.sidebar {
    width: 37%;
    position: relative;
}

.logo {
    position: absolute;
    text-align: center;
    padding: 15px;
    display: flex;
    justify-content: center;
    top: 22%;
    height: 13%;


    background-color: black;
}

.main{
    display: flex;
    flex-direction: column;
}

.form {
    flex-basis: 29%;
}

/* Elements */

.logo__text {
    align-self:  center;
    color: white;
    font-size: 60px;
}

.main > * {
    padding-inline: 2.85rem;
}

.main__text {
    flex: 1.1;
}

.main__text p {
    max-width: 55ch;
    font-size: 1.4rem;
    font-weight: bold;
}

.main__action {
    flex: .9;
}

.form__list {
    max-width: 50rem;

    display: flex;
    flex-wrap: wrap;
    column-gap: 3.75rem;
}

.form__input {
    height: 2rem;
    width: 20rem;

    padding-left: 0.5rem;
    margin-bottom: 1.25rem;

    border: 0.1rem solid hsl(220, 13%, 91%);
    border-radius: 0.3rem;
}

.main__btn {
    margin-top: 30px;
    padding: 10px 40px;
}

/* Modifiers */

.main__text--push-down {
    margin-top: 150px;
}

/* Pseudo Elements and Classes */

.form__input:focus {
    outline: none;
    border: 0.1rem solid hsl(224, 76%, 48%);
    box-shadow: 0.1rem 0.1rem 0.1rem 0.1rem hsl(0, 0%, 82%);
}
