@font-face {
    font-family: 'norsebold';
    src: url('../fonts/norse-bold-webfont.woff2') format('woff2'),
         url('../fonts/norse-bold-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}

*,
*::before,
*::after{
    box-sizing: border-box;
}

/* Variables */

:root {
    --color-bg-main: hsl(210, 20%, 98%);
    --color-bg-logo: hsla(0, 0%, 0%, 0.486);
    --color-clickable: hsl(92, 20%, 35%);
    --color-form-header: hsl(216, 38%, 13%);
    --color-text-label: hsl(215, 28%, 17%);
    --color-invalid-pass: hsl(0, 74%, 42%);
    --color-valid-pass: hsl(120, 100%, 29%);
    --color-shadow: hsl(180, 2%, 90%);
}

/* General Styles */

body {
    height: 100vh;
    display: flex;
    flex-wrap: wrap;

    font-family: Arial, Helvetica, sans-serif;
}

div {
    width: 100%;
}

ul {
    list-style: none;
    padding: 0;
    margin: 0;
}

a,
a:visited,
a:active {
    text-decoration: none;
}

input,
button {
    font-family: inherit;
    font-size: 100%;
    border: none;
}

fieldset {
    border: none;
    padding: 0;
}

/*  Typography */

 /* Blocks */


.sidebar {
    flex-basis: 550px;
    flex-grow: 1;

    position: relative;

    display: flex;
    align-items: flex-end;
    justify-content: center;

    background-image: url('../img/sidebar-bg.jpg');
    background-size: cover;
}

.main{
    display: flex;
    flex-basis: 0;
    flex-grow: 999;
    flex-direction: column;

    min-inline-size: 50%;

    background-color: var(--color-bg-main);
}

.logo {
    position: absolute;
    top: 22%;
    height: 16%;

    display: flex;
    justify-content: center;

    text-align: center;
    padding: 1rem;

    background-color: var(--color-bg-logo);
}

.form {
    padding-bottom: 1.25rem;

    flex-basis: 29%;
    z-index: 1;

    background-color: hsl(0, 0%, 100%);
    box-shadow: 1rem 0.5rem 0.7rem 0.1rem var(--color-shadow);
}

/* Elements */

.logo__text {
    align-self:  center;

    font-family: 'norsebold';
    color: hsl(0, 0%, 100%);
    font-size: 5.5rem;
}

.sidebar__img-credits {
    color: hsl(0, 0%, 100%);
}

.sidebar__img-credits > a {
    color: inherit;
    text-decoration: underline;
}

.main > * {
    padding-inline: max(2vw, 1.5rem);
}

.main__text {
    flex: 1.2;
}

.main__action {
    flex: 1;
}

.form__list {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between ;

    gap: 1rem;
    width: min(100%, 38rem);
}

.form__input {
    height: 2rem;
    width: 16rem;

    padding-left: 0.5rem;

    border: 0.1rem solid hsl(220, 13%, 91%);
    border-radius: 0.3rem;
}

.form__label {
    display: block;

    font-size: 0.9rem;
    color: var(--color-text-label)
}

.form__password-feedback {
    display: block;
    color: var(--color-invalid-pass);
}

.main__btn {
    margin: 1.8rem 0 1rem;
    padding: 1rem 3rem;
    font-weight: bold;


    border-radius: 0.4rem;
    box-shadow: 0.2rem 0.2rem 0.2rem 0.1rem var(--color-shadow);

    background-color: var(--color-clickable);
    color: hsl(0, 0%, 100%);

    cursor: pointer;
}

.main__login-link {
    font-weight: bolder;
    color: var(--color-clickable)
}

/* Modifiers */

.main__text--push-down {
    margin-top: 10rem;
}

/* Utility classes */

.strong-p {
    max-width: 55ch;
    font-size: 1.4rem;
    font-weight: bold;
}

.invalid-password {
    border-color: var(--color-invalid-pass); 
}


/* Pseudo Elements and Classes */

.form__input:focus {
    outline: none;
    border: 0.1rem solid hsl(224, 76%, 48%);
    box-shadow: 0.1rem 0.1rem 0.1rem 0.1rem var(--color-shadow);
}
